<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <script src="../js/mui.min.js"></script>
    <link href="../css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../css/login.css"/>
    <script type="text/javascript" charset="UTF-8">
      	mui.init();
    </script>
</head>
<body>
	<div class="mui-content">
	    <div class="mui-logo">星云<br />logo</div>
	    <div class="mui-login">
	    	<p class="num">账号 (必须为手机号)</p>
	    	<input class="mui-phone" /><br /><br />
	    	<p class="pass">输入动态密码</p>
	    	<input class="mui-phone" /><br /><br />
	    	<a class="mui-explian" href="registerExplian.html">账号注册说明</a><br /><br />
	    	<button type="submit"  value="登录">登录</button><br /><br />
	    	<button type="submit"  value="访客" onclick="javascript:window.location.href=''">访客</button>
	    </div>
	</div>
</body>
</html>