<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <script src="../js/mui.min.js"></script>
    <link href="../css/mui.min.css" rel="stylesheet"/>
    <script type="text/javascript" charset="UTF-8">
      	mui.init();
    </script>
    <style type="text/css">
    .mui-content{
    	width: auto;
    	height: auto;
    	margin-top: 30px;
    	margin-left: 5px;
    	margin-right: 5px;
    	font-size: 18px;
    	color: #000000;
    	font-family: "微软雅黑";
    	line-height: 30px;

    }
    .mui-title{
    	font-family: "微软雅黑";
    }
    .mui-btn{
    	width:153px;
    	height:51px;
    	left:20px;
    	color:#fff;
    	background-color:#ff7043;
    	border-color:#f4511e;
    }
    </style>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: black;"></a>
	    <h1 class="mui-title">账号注册说明</h1>
	</header>
	<div class="mui-content">
	    	本软件面向企业用户，注册需要进行身份认证，
	    	将采用您的手机号码作为账号，具体流程如下
	    	<hr />
	    	Step1：获取申请资料<br /><br />
	    	请致电客服400100111或发送邮件至 service@cfilm.cloud.com注册账号，客服将账号申请发表至您邮箱<br /><br />
	    	Step 2:提交申请资料<br /><br />
	    	请您提交资料并等待审核，3个工作日内将反馈审核结果，若未通知则将由客服告知 <br /><br />
	    	Step 3:收到注册成功短信<br /><br />
	    	若您审核通过，您所注册的手机号将收到账号注册成功短信<br /><br />
	    	Step 4:
	    	<button type="button" class="mui-btn mui-btn-warning" onclick="javascript:window.location.href='login.html'">点击登录</button>
	</div>
</body>
</html>